doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Home work loftschool 4
	body
		header#header.some-class1
		main.content.some-class1.some-class2
			section.target Текст
			p.move-paragraph параграф который нужно перенести
			div.delete-container.
				text text text
				#[p paragraph text #[span text span]]
				text text text
				#[p paragraph text #[span text span]]
				text text text
		footer
		script(src="build.js", charset="utf-8")
