extends ./layot.jade

block content
	.container
		h1 Cookie
		table.table
			thead
				tr
					th Key
					th Value
					th Delete
			tbody
		form.form-inline(name='addCookie')
			.form-group
				input.form-control(type='text', placeholder='имя', name='name')
			.form-group
				input.form-control(type='text', placeholder='значение', name='value')
			.form-group
				input.form-control(type='text', placeholder='срок годности', name="duration")
			input.btn.btn-success(type='submit', value="Установить")
