doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="build.css")
		script(type="text/javascript" src="build.js")
		title Test-Loftschool
		
	body
		header
		main.content
			block content
